<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông báo: Lịch dạy học kỳ học mới</title>
    <style>
        body {
            background-color: #f8f8f8;
        }
        h1 {
            font-size: 36px;
            border-bottom: 2px solid #333;
        }
        p {
            padding: 0 20px;
        }
        a:hover {
            color: #0056b3;
        }
        p:last-of-type {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Thông báo: Lịch dạy học kỳ học mới đã được cập nhật!</h1>
<p>Xin chào các quý thầy cô giảng viên,</p>
<p>Chúng tôi muốn thông báo đến các bạn rằng lịch dạy học cho kỳ học mới đã được cập nhật. Vui lòng truy cập vào trang
    <a href="http://localhost:9999/">web</a> của trường để xem toàn bộ lịch dạy.</p>
<p>Nếu có bất kỳ câu hỏi hoặc thắc mắc nào, xin vui lòng liên hệ với Phòng Quản Lý Đào Tạo để được hỗ trợ.</p>
<br>
<p>Trân trọng,</p>
<p>Phòng Quản Lý Đào Tạo</p>
</body>
</html>